@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* CABEÇALHO */

.container-cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 2px #e9e9e9;
}

.container-logo {
    margin-top: 7px;
}

.container-menu ul {
    margin-top: -2px;
}

.container-menu ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
}

.container-menu ul li a {
    text-decoration: none;
    color: #000000;
    margin-left: 50px;
    transition: .2s ease;
}

.container-menu ul li a:hover {
    color: #0b03a6;
    border-bottom: 1px solid #0b03a6;
}

.container-menu:last-child {
    color: #ffffff;
}


#cadastrar-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    background-color: #00005A;
    width: 94px;
    height: 37px;
    border-radius: 25px;
    transition: .2s ease;
}

#cadastrar-btn a:hover {
    background-color: #0b03a6;
}

/* BASE E DROPZONE */

.text-h1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #00005A;
    font-weight: 400;
    font-size: 45px;
    line-height: 57px;
}

.text-h5 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 19px;
    line-height: 25px;
}

.container-basedropescolha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dropzone1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00005A;
    border-radius: 15px;
    width: 1000px;
    height: 250px;
}

.container-dropzone2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06027D;
    border-radius: 10px;
    width: 960px;
    height: 210px;
}

#droptext {
    position: absolute;
    top: 360px;
    color: #ffffff;
    font-size: 12px;
}

.container-escolha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 500px;
    height: 68px;
}

#animaicon {
    -webkit-filter: opacity(20%);
    padding: 20px;
}

#animaicon:hover {
    -webkit-filter: opacity(100%);
    transition: .2s;
}

/* RODAPE */

.footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 130px;
    background-color: #00005A;
}

.container-rodape {
    display: flex;
    align-items: center;
}

.sobre-nos {
    color: #83aac3;
    width: 250px;
    padding: 25px;
}

#sb {
    color: #ffffff;
}

.coluna ul {
    padding: 25px;
}

.coluna ul li {
    list-style-type: none;
}

.coluna ul li a {
    text-decoration: none;
    color: #83aac3;
    transition: .2s ease;
}

.coluna ul li a:hover {
    color: #ffffff;
}

.copr {
    padding: 25px;
    color: #83aac3;
}

.icons {
    padding: 25px;
}

.icons p {
    color: #83aac3;
}